@import "../../styles/base/_variables";

.button {
  border-radius: 4px;
  font-size: 13px;
  padding: 5px 30px;

  &.normal{
    background: $white;
    color: $theme;
  }

  &.primary{
    background: $active;
    color: $white;
  }
}

