@import "../../styles/base/_variables";

.nav{
  background: $theme;
  padding: 18px 50px 0;
}

.navLinks {
  li {
    font-size: 13px;
    padding: 10px 20px;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-bottom: 2px solid transparent;

    &:hover{
      color: $active;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      border-bottom: 2px solid $active;
    }
  }
}
